<div class="page-header text-center">
    <h1><span class="fa fa-check-square"></span> 登录成功</h1>
    <a href="/logout" class="btn btn-default btn-sm">注销</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span>用户信息</h3>

            <p>
                <strong>id</strong>: {{user.id}}<br>
                <strong>用户名</strong>: {{user.username}}<br>
                <strong>密码</strong>: {{user.password}}
            </p>

        </div>
    </div>

</div>